* {
    font-family: 'Outfit', sans-serif;;
}

body {
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
}

.container{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
    height: 515px;
    border-radius: 20px;

}

img {
    border-radius: 8px;
}

h2 {
    font-weight: bolder;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
}